.style-2 {
    color: brown;
}

#sample {
    color: aqua;
}

h4 {
    color: bisque;
}

h2,
h3 {
    color: burlywood;
}





















/* .style-2 {
    color: brown;
}

.style-3 {
    color: chartreuse;
}

#sample {
    color: chocolate;
}

h4 {
    color: aqua;
} */